In [7]:
import google_landmarks_dataset as gldata

In [18]:
train, test = gldata.load_data()

In [19]:
print(train.head())

                 id                                                url  \
0  cacf8152e2d2ae60  http://static.panoramio.com/photos/original/70...
1  0a58358a2afd3e4e  http://lh6.ggpht.com/-igpT6wu0mIA/ROV8HnUuABI/...
2  6b2bb500b6a38aa0  http://lh6.ggpht.com/-vKr5G5MEusk/SR6r6SJi6mI/...
3  b399f09dee9c3c67  https://lh3.googleusercontent.com/-LOW2cjAqubA...
4  19ace29d77a5be66  https://lh5.googleusercontent.com/-tnmSXwQcWL8...

   landmark_id
0         4676
1         6651
2        11284
3         8429
4         6231

In [15]:
train.describe()

        landmark_id
count  1.225029e+06
mean   7.335493e+03
std    4.026612e+03
min    0.000000e+00
25%    4.083000e+03
50%    7.075000e+03
75%    1.040000e+04
max    1.495000e+04

In [25]:
sample = train.values

In [28]:
str(None)

'None'

In [29]:
len(train)

1225029